---
title: Verification
description: Some Modules and Automation Cards on CastHub display a verified tick next to their names
position: 26
category: Misc.
---

Some Modules and Automation Cards on CastHub display a verified tick next to their names to indicate that the content is verified and from a trusted source.

Generally this is content that is maintained by companies/well-known individuals to help prevent any confusion as to the legitimacy of the content.

## Benefits

Verified content is treated differently to the content provided by users - for example, the following benefits are applied:

- A Verified badge next to the Store entry
- Regular featured slots in the CastHub Store
- Exclusive Discord Channel for direct support from the CastHub Development Team

## Requesting Verification

Generally we approach Developers directly, however if you feel you meet the criteria, feel free to drop us a message via [Discord](https://discord.gg/XMrHXtN).
